<h1>Listing all articles</h1>
<p><%= link_to 'Create new article', new_article_path %></p>
<table>

<tr>
   <th colspan="" rowspan="" headers="" scope="">Title</th>
   <th colspan="" rowspan="" headers="" scope="">Description</th>
</tr>
<% @articles.each do |article| %>
	<tr>
		<td colspan="" rowspan="" headers=""><%= article.title %></td>
		<td colspan="" rowspan="" headers=""><%= article.description %></td>
		<td colspan="" rowspan="" headers=""><%= link_to 'Edit', edit_article_path(article), class: "btn btn-inverse"  %></td>
		<td colspan="" rowspan="" headers=""><%= link_to 'Show', article_path(article), class: "btn btn-inverse"  %></td>
		<td colspan="" rowspan="" headers=""><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-inverse" %></td>
	</tr>
	<% end %>
</table>